{
    "discord": {
        "token": ""
    },
    "mongodb": {
        "uri": "",
        "database": "",
        "password": ""
    },
    "lavalink": {
        "host": "",
        "port": 0,
        "password": ""
    },
    "youtube": {
        "apiKey": ""
    },
    "spotify": {
        "clientID": "",
        "clientSecret": ""
    },
    "ksoft": {
        "token": "",
        "tokenv2": ""
    }
}